---
import '@core/theme/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Templados AL13 - B2B Quoter</title>
	</head>
	<body class="bg-zinc-950 text-zinc-50 antialiased selection:bg-zinc-800">
		<slot />
	</body>
</html>
